/* styles.css */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: black;
    color:aliceblue;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

header {
    text-align: center;
    margin-bottom: 20px;
    font-size: 1.5rem;
}

header img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

section {
    margin-bottom: 20px;
}

footer {
    text-align: center;
}

footer a {
    display: block;
    margin: 5px 0;
}

li{
    font-size:1.2rem;
}

@media (max-width: 600px) {
    .container {
        padding: 10px;
    }

    header img {
        width: 100px;
        height: 100px;
    }
}